@use 'variables';
@use 'mixins';

header {
  text-align: center;

  .logo-header {
    height: 300px;
    width: auto;
    margin-bottom: 10px;

    @include mixins.respond-to(md) {
      height: 180px;
    }
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include mixins.respond-to(md) {
      flex-direction: column;
      gap: 10px;
    }
  }

  nav li a {
    text-decoration: none;
    color: variables.$text-color;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$primary-hover;
    }
  }
}